.text-justify{
    text-align: justify;
    line-height: 22px !important;
}
.section{
    background: #012b59 !important;
}
.vid-sec{
    background:url('../img/sm/extras/vbg.jpg' );
    background-repeat: no-repeat;
    background-color: #dbf1cb;
    background-position: bottom;
    height: 100%;
}
.vid-desc{
    padding: 25px 0;
    font-size: 1rem;
}
.popup-youtube img{
    padding: 10px 10px;
    border-radius: 10% !important;
}
h2{
    margin-bottom: 10px !important;
    color: #01295a !important;
}
.bg-eee{
    background-color: #eee;
}

#footer{
    background: #01295a !important;
    border-top: 4px solid #049124;
    margin-top: 20px !important;
}
#footer .footer-copyright{
    background: #191828;
}

.text-capitalize{
    text-transform: capitalize !important;
}

.bggrey{background-color: #dee1e6; }
.wtzblk {padding-left: 0px;}
.fbox {
    width: 98%;
    height: auto;
    margin: 0 auto;
}
.fbtm {margin-bottom: 0px;}
.npad {padding: 0px;}
.pdzero {margin: 0px; !important;}
.vid-desc{
    padding: 50px;
    font-size: 1rem;
}
