.text-justify{
    text-align: justify;
}
.wnew{
    height: 160px;
    overflow-y: scroll;
}
.section{
    background: #012b59 !important;
}
.vid-sec{
    background:url('../img/sm/extras/vbg.jpg' );
    background-repeat: repeat;
    background-position: center;
    height: 100%;
}
.vid-desc{
    padding: 25px 0;
    font-size: 1rem;
}
.popup-youtube img{
    padding: 10px 10px;
}
